---
# ===========================
# Install & Configure Valkey Master
# ===========================
- name: Install Valkey Master
  hosts: valkey_master
  become: yes
  tasks:

    - name: Install Valkey
      apt:
        name: valkey-server
        state: present
        update_cache: yes

    - name: Configure Valkey master bind
      lineinfile:
        path: /etc/valkey/valkey.conf
        regexp: '^bind '
        line: "bind 0.0.0.0"

    - name: Disable protected mode
      lineinfile:
        path: /etc/valkey/valkey.conf
        regexp: '^protected-mode '
        line: "protected-mode no"

    - name: Restart Valkey
      service:
        name: valkey-server
        state: restarted
        enabled: yes


# ===========================
# Install & Configure Valkey Replica
# ===========================
- name: Install Valkey Replica
  hosts: valkey_replica
  become: yes
  vars:
    valkey_master_ip: "{{ groups['valkey_master'][0] }}"
  tasks:

    - name: Install Valkey
      apt:
        name: valkey-server
        state: present
        update_cache: yes

    - name: Configure Valkey replica
      blockinfile:
        path: /etc/valkey/valkey.conf
        block: |
          replicaof {{ valkey_master_ip }} 6379
          bind 0.0.0.0
          protected-mode no

    - name: Restart Valkey
      service:
        name: valkey-server
        state: restarted
        enabled: yes
